<a href="https://colab.research.google.com/github/aloksingh43/Topic_Modeling_on_BBC_News_Articles/blob/main/Topic_Modeling_on_BBC_News_Articles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing required libraries
import numpy as np
import pandas as pd
import seaborn as sns
import os
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from nltk.stem.snowball import SnowballStemmer
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter("ignore", category=DeprecationWarning)

In [2]:
#mouting drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#loading the data
News=[]
Type=[]

path="/content/drive/MyDrive/bbc"
folders=["business","entertainment","politics","sport","tech"] 
for i in folders:
    files=os.listdir(path+'/'+i)
    for text_file in files:
        file_path=path + '/'+i+'/'+text_file
        with open(file_path,'rb') as f:
            data=f.read()
        News.append(data)
        Type.append(i)

In [4]:
#wrinting data to csv format
data={'news':News,'type':Type}
df_bbc = pd.DataFrame(data)

In [5]:
df_bbc['news'] = df_bbc['news'].apply(lambda x: x.decode('iso-8859-1'))

In [6]:
df=df_bbc.copy()

In [7]:
df.shape

(2225, 2)

In [8]:
df.columns

Index(['news', 'type'], dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   news    2225 non-null   object
 1   type    2225 non-null   object
dtypes: object(2)
memory usage: 34.9+ KB

In [10]:
df.head()

                                                news      type
0  Yukos unit buyer faces loan claim\n\nThe owner...  business
1  Ad sales boost Time Warner profit\n\nQuarterly...  business
2  Dollar gains on Greenspan speech\n\nThe dollar...  business
3  US trade gap hits record in 2004\n\nThe gap be...  business
4  High fuel prices hit BA's profits\n\nBritish A...  business

In [11]:
df.tail()

                                                   news  type
2220  BT program to beat dialler scams\n\nBT is intr...  tech
2221  Bad e-mail habits sustains spam\n\nThe 'bad be...  tech
2222  Microsoft plans 'safer ID' system\n\nMicrosoft...  tech
2223  Camera phones are 'must-haves'\n\nFour times m...  tech
2224  Beckham virus spotted on the net\n\nVirus writ...  tech

In [12]:
df.iloc[0]['news']

'Yukos unit buyer faces loan claim\n\nThe owners of embattled Russian oil giant Yukos are to ask the buyer of its former production unit to pay back a $900m (Â£479m) loan.\n\nState-owned Rosneft bought the Yugansk unit for $9.3bn in a sale forced by Russia to part settle a $27.5bn tax claim against Yukos. Yukos\' owner Menatep Group says it will ask Rosneft to repay a loan that Yugansk had secured on its assets. Rosneft already faces a similar $540m repayment demand from foreign banks. Legal experts said Rosneft\'s purchase of Yugansk would include such obligations. "The pledged assets are with Rosneft, so it will have to pay real money to the creditors to avoid seizure of Yugansk assets," said Moscow-based US lawyer Jamie Firestone, who is not connected to the case. Menatep Group\'s managing director Tim Osborne told the Reuters news agency: "If they default, we will fight them where the rule of law exists under the international arbitration clauses of the credit."\n\nRosneft officials were unavailable for comment. But the company has said it intends to take action against Menatep to recover some of the tax claims and debts owed by Yugansk. Yukos had filed for bankruptcy protection in a US court in an attempt to prevent the forced sale of its main production arm. The sale went ahead in December and Yugansk was sold to a little-known shell company which in turn was bought by Rosneft. Yukos claims its downfall was punishment for the political ambitions of its founder Mikhail Khodorkovsky and has vowed to sue any participant in the sale.\n'

In [13]:
## Checking null values
print(df.isna().sum())

news    0
type    0
dtype: int64

In [14]:
df.describe(include='all')

                                                     news   type
count                                                2225   2225
unique                                               2127      5
top     Speak easy plan for media players\n\nMusic and...  sport
freq                                                    2    511

In [15]:
print(len(df[df.duplicated()]))

98

In [16]:
df.drop_duplicates(keep='last', inplace=True)